// Colors

$background-color: #84A178;
$accent-color: #F8D24E;
$hover-color: #0A8817;
$disabled-color: #ABABAB;
$main-text-color: #FCFCFC;
$accent-text-color: #131313;
$card-yellow-color: #EFD478;
$card-brown-color: #D6936D;
$card-green-color: #9CBE8F;
$card-green-background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
$card-yellow-background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
$card-brown-background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
$form-input-background: rgba(248, 210, 78, 0.1);
// Fonts

$font-main: 'Montserrat', sans-serif;
$font-title: 'Seymour One', sans-serif;