<section class="contacts section" id="Contacts">
    <div class="container">
        <h2 class="contacts__title visually-hidden">Contacts</h2>
            <ul class="branches__list">
                <li class="branch__item">
                    <p class="branch__category branch__category--cafe">Cafe</p>
                    <address class="branch__address contacts__section">
                        <p class="branch__city">Chicago</p>
                        <a href="https://goo.gl/maps/TVvxDbKLSmrTPnvZ8"
                        class="branch__link"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </address>
                    <div class="branch__schedule contacts__section">
                        <ul class="schedule__list">
                            <li class="schedule__item">
                                <p class="schedule__day">Monday - Friday</p>
                                <p class="schedule__time"><time>06:00 AM</time> - <time>10:00 PM</time></p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__day">Saturday - Sunday</p>
                                <p class="schedule__time"><time>08:00 AM</time> - <time>4:00 PM</time></p>
                            </li>
                        </ul>
                    </div>
                    <div class="branch__contacts contacts__section">
                        <ul class="contacts__list">
                            <li class="contacts__item"><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
                            <li class="contacts__item"><a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a></li>
                        </ul>
                    </div>
                </li>
                
                <li class="branch__item">
                    <p class="branch__category branch__category--foodtruck">Foodtruck</p>
                    <address class="branch__address contacts__section">
                        <p class="branch__city">Los Angeles</p>
                        <a href="https://goo.gl/maps/KzEtDzYMvc3ZYwyE6"
                        class="branch__link"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </address>
                    <div class="branch__schedule contacts__section">
                        <ul class="schedule__list">
                            <li class="schedule__item">
                                <p class="schedule__day">Monday - Friday</p>
                                <p class="schedule__time"><time>06:00 AM</time> - <time>10:00 PM</time></p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__day">Saturday - Sunday</p>
                                <p class="schedule__time"><time>08:00 AM</time> - <time>4:00 PM</time></p>
                            </li>
                        </ul>
                    </div>
                    <div class="branch__contacts contacts__section">
                        <ul class="contacts__list">
                            <li class="contacts__item"><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
                            <li class="contacts__item"><a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a></li>
                        </ul>
                    </div>
                </li>
                <li class="branch__item">
                    <p class="branch__category branch__category--cafe">Cafe</p>
                    <address class="branch__address contacts__section">
                        <p class="branch__city">New York</p>
                        <a href="https://goo.gl/maps/ixH1vj5MBtXQKbXV8"
                        class="branch__link"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        >726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </address>
                    <div class="branch__schedule contacts__section">
                        <ul class="schedule__list">
                            <li class="schedule__item">
                                <p class="schedule__day">Monday - Friday</p>
                                <p class="schedule__time"><time>06:00 AM</time> - <time>10:00 PM</time></p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__day">Saturday - Sunday</p>
                                <p class="schedule__time"><time>08:00 AM</time> - <time>4:00 PM</time></p>
                            </li>
                        </ul>
                    </div>
                    <div class="branch__contacts contacts__section">
                        <ul class="contacts__list">
                            <li class="contacts__item"><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
                            <li class="contacts__item"><a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
    </div>

    <ul class="contacts__form">
        <button data-our-location-modal-open class="button contacts__button button__locations">
            Our Locations
            <svg class="arrow__icon" width="12px" height="12px">
                <use href="./images/icons.svg#arrow"></use>
            </svg>
        </button>
        <button data-franchise-modal-open class="button contacts__button button__franchise">
            Franchise
            <svg class="arrow__icon" width="12px" height="12px">
                <use href="./images/icons.svg#arrow"></use>
            </svg>
        </button>
    </ul>

</section>