<section class="review" id="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>

    <div class="one-time">
      <div class="review__slider">
        <picture>
          <source
            srcset="
              /src/images/customer-reviews/review-1.png    1x,
              /src/images/customer-reviews/review-1-3x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="/src/images/customer-reviews/review-1.png"
            alt="Emily"
            class="review__img"
            width="85"
            height="85"
          />
        </picture>

        <div class="text-wrapper">
          <p class="review__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="review__contact">Emily, Los Angeles</p>
      </div>
      <div class="review__slider">
        <picture>
          <source
            srcset="
              /src/images/customer-reviews/review-2.png    1x,
              /src/images/customer-reviews/review-2-3x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="/src/images/customer-reviews/review-2.png"
            alt="Emily"
            class="review__img"
            width="85"
            height="85"
          />
        </picture>
        <div class="text-wrapper">
          <p class="review__text review__text--padding">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
        </div>

        <p class="review__contact">Sam, Los Angeles</p>
      </div>
      <div class="review__slider">
        <picture>
          <source
            srcset="
              /src/images/customer-reviews/review-3.png    1x,
              /src/images/customer-reviews/review-3-3x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="/src/images/customer-reviews/review-3.png"
            alt="Emily"
            class="review__img"
            width="85"
            height="85"
          />
        </picture>
        <div class="text-wrapper">
          <p class="review__text review__text--paddingg">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>

        <p class="review__contact">Diana, Chicago</p>
      </div>
      <div class="review__slider">
        <picture>
          <source
            srcset="
              /src/images/customer-reviews/review-4.png    1x,
              /src/images/customer-reviews/review-4-3x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="/src/images/customer-reviews/review-4.png"
            alt="Emily"
            class="review__img"
            width="85"
            height="85"
          />
        </picture>
        <div class="text-wrapper">
          <p class="review__text review__text--padding">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>

        <p class="review__contact">Bryan, New-York</p>
      </div>
    </div>
  </div>
</section>
