<footer class="section">
    <div class=" container">
        <div class="footer__content">
        <div class="footer__title">
        <p class="footer-title__pre-title">homemade ice cream made</p>
        <p class="footer-title__title">with passion</p>
        </div>
        <div class="footer__contacts">
            <div class="footer__soc"> 
            <ul class="soc__list ">
                <li class="soc__item">
                    <a href="https://github.com/" class="soc__link link">
                        <svg class="soc__icon" width="19" height="19">
                            <use href="./images/icons.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc__item">
                    <a href="https://web.telegram.org/" class="soc__link link">
                        <svg class="soc__icon" width="19.2" height="15">
                            <use href="./images/icons.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc__item">
                    <a href="https://m.facebook.com/" class="soc__link link">
                        <svg class="soc__icon" width="9" height="19">
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            </div>
            <p class="footer__phone"> Feel free to contact 
                <a href="tel:+61(0)383766284" class="footer__phone--white ">  +61 (0) 383 766 284</a>
            </p>
        </div>
        </div>
    <div class="rights">
        <p class="footer--rights">&copy 2022 - IceCream. All Rights Reserved.</p>
    </div>
        </div>
</footer>