<header class="header section">
  <div class="header-container container">
    <div class="header-logo">
      <a href="./index.html" class="logo">
        <img src="./images/main-logo.png" alt="header logo" />
      </a>
    </div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link">How it's made?</a>
        </li>
        <li class="navigation__item">
          <a href="#products" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="#Contacts" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn" data-menu-open>
      <svg width="32" height="32">
        <use href="./images/icons.svg#menu"></use>
      </svg>
    </button>
    <div class="menu-btn">
      <button type="button" class="button navigation__button" data-buy-now-modal-open>
        Buy now
        <svg class="nav-btn-icon" width="12" height="12">
          <use href="./images/icons.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="content-menu is-hidden" data-menu>
    <div class="container">
      <div class="menu-logo">
        <a href="./index.html" class="logo">
          <img src="./images/main-logo.png" alt="header logo" />
        </a>
        <button type="button" class="menu-close-btn" data-menu-close>
          <svg width="26" height="26">
            <use href="./images/icons.svg#menu-close"></use>
          </svg>
        </button>
      </div>
      <nav class="content-menu__navigation">
        <ul class="content-menu__list">
          <li class="content-menu__item">
            <a href="" class="content-menu__link">Home</a>
          </li>
          <li class="content-menu__item">
            <a href="#about" class="content-menu__link">How it's made?</a>
          </li>
          <li class="content-menu__item">
            <a href="#products" class="content-menu__link">Our products</a>
          </li>
          <li class="content-menu__item">
            <a href="#Contacts" class="content-menu__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="mob-menu-btn">
        <button
          type="button"
          class="mob-menu-btn__button"
          data-buy-now-modal-open
        >
          Buy now
          <svg class="nav-btn-icon" width="12" height="12">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
