<div data-ingredients-modal class="backdrop is-hidden">
  <div class="ingredients modal-window">
    <button
      data-ingredients-modal-close
      class="ingredients__close modal__button-close"
    >
      <svg class="ingredients__close-svg" width="12" height="12">
        <use href="./images/icons.svg#close-cross"></use>
      </svg>
    </button>
    <h4 class="modal__title">Chololate icecream</h4>
    <div class="ingredients__img">
      <img
        srcset="./images/products/modal-window-ice-cream-2x.jpg 2x"
        src="./images/products/modal-window-ice-cream.jpg"
        alt=""
        class="ingredients__img"
      />
    </div>
    <ul class="ingredients-nutrients__list">
      <li class="ingredients-nutrients__item">
        <p class="ingredients-nutrients__numeric">320</p>
        <p class="ingredients-nutrients__text">kcal</p>
      </li>
      <li class="ingredients-nutrients__item">
        <p class="ingredients-nutrients__numeric">4g</p>
        <p class="ingredients-nutrients__text">Prote...</p>
      </li>
      <li class="ingredients-nutrients__item">
        <p class="ingredients-nutrients__numeric">8,2g</p>
        <p class="ingredients-nutrients__text">Fats</p>
      </li>
      <li class="ingredients-nutrients__item">
        <p class="ingredients-nutrients__numeric">40,4g</p>
        <p class="ingredients-nutrients__text">Carbs</p>
      </li>
    </ul>
    <h4 class="ingredients__title">Ingredients</h4>
    <ul class="ingredients__list">
      <li class="ingredients__item">
        <p class="ingredients__product modal__text">Milk</p>
        <p class="ingredients__weight modal__text">100ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__product modal__text">Belgian chocolate</p>
        <p class="ingredients__weight modal__text">20g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__product modal__text">Cream</p>
        <p class="ingredients__weight modal__text">150ml</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__product modal__text">Cocoa powder</p>
        <p class="ingredients__weight modal__text">30g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__product modal__text">Sugar</p>
        <p class="ingredients__weight modal__text">40g</p>
      </li>
      <li class="ingredients__item">
        <p class="ingredients__product modal__text">Vanilla sugar</p>
        <p class="ingredients__weight modal__text">10g</p>
      </li>
    </ul>
    <form class="ingredients-form">
      <input
        type="text"
        name="name"
        placeholder="Name"
        class="ingredients-form__name input-modal-window"
        required
        minlength="2"
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
        title="Username must be two words separated by space."
      />
      <span class="form__error"
        >Username must be two words separated by space.</span
      >
      <input
        type="text"
        name="tel"
        placeholder="Phone"
        class="ingredients-form__tel input-modal-window"
        required
        minlength="18"
        maxlength="18"
        pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
        title="This field must contain a phone number in the format +3 (123) 456-78-90"
      />
      <span class="form__error"
        >This field must contain a phone number in the format +3 (123)
        456-78-90</span
      >
      <textarea
        class="ingredients-form__comment input-modal-window"
        name="comment"
        placeholder="Comment"
        maxlength="250"
      ></textarea>
      <button type="submit" class="ingredients-form__btn button">Submit</button>
    </form>
  </div>
</div>
