<div class="backdrop is-hidden" data-our-location-modal>
  <div class="modal-window map-window--decor">
    <!-- Franchise modal buttin close -->
    <button data-our-location-modal-close class="modal-btn-close">
      <svg class="modal-btn-close__svgen-close" width="11" height="11">
        <use
          class="modal-btn-close__iconcontact"
          href="./images/icons.svg#close-cross"
        ></use>
      </svg>
    </button>
    <!-- text  -->
    <p class="map__title contact__title--decor">Our Locations</p>

    <form>
      <div class="map__contact">
        <label for="map"></label>
        <iframe
          class="map__contacts"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37995.65748333395!2d-2.273568166412784!3d53.473310471916975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bae6c05743d3d%3A0xf82fddd1e49fc0a1!2sThe+Lowry!5e0!3m2!1sen!2suk!4v1518171785211"
          width="450"
          height="210
       "
          frameborder="0"
          style="border: 0"
          allowfullscreen
        >
        </iframe>
      </div>
    </form>
    <!-- button Submit -->
    <a href="https://goo.gl/maps/pkJRQh4ytbh2amJr9" class="submitik-map">
      <spn class="submitik-map--dekor">Open map</spn>
    </a>
  </div>
</div>
