<section class="products section" id="products">
  <div class="container">
    <p class="products__text">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list">
      <li class="products-item">
        <h3 class="products-item__title">Ice cream</h3>
        <p class="products-item__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          data-ingredients-modal-open
          type="button"
          class="products-item__btn"
        >
          <svg class="products-item__icon" width="40" height="14">
            <use
              href="./images/icons.svg#long-arrow-default"
              class="products-item__icon--default"
            ></use>
          </svg>
          <svg class="products-item__icon" width="50" height="14">
            <use
              href="./images/icons.svg#long-arrow-hover"
              class="products-item__icon--hover"
            ></use>
          </svg>
          <svg class="products-item__icon" width="50" height="22">
            <use
              href="./images/icons.svg#long-arrow-focus"
              class="products-item__icon--focus"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products-item">
        <h3 class="products-item__title">Ice coffee</h3>
        <p class="products-item__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          data-ingredients-modal-open
          type="button"
          class="products-item__btn"
        >
          <svg class="products-item__icon" width="40" height="14">
            <use
              href="./images/icons.svg#long-arrow-default"
              class="products-item__icon--default"
            ></use>
          </svg>
          <svg class="products-item__icon" width="50" height="14">
            <use
              href="./images/icons.svg#long-arrow-hover"
              class="products-item__icon--hover"
            ></use>
          </svg>
          <svg class="products-item__icon" width="50" height="22">
            <use
              href="./images/icons.svg#long-arrow-focus"
              class="products-item__icon--focus"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products-item">
        <h3 class="products-item__title">Milkshakes</h3>
        <p class="products-item__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          data-ingredients-modal-open
          type="button"
          class="products-item__btn"
        >
          <svg class="products-item__icon" width="40" height="14">
            <use
              href="./images/icons.svg#long-arrow-default"
              class="products-item__icon--default"
            ></use>
          </svg>
          <svg class="products-item__icon" width="50" height="14">
            <use
              href="./images/icons.svg#long-arrow-hover"
              class="products-item__icon--hover"
            ></use>
          </svg>
          <svg class="products-item__icon" width="50" height="22">
            <use
              href="./images/icons.svg#long-arrow-focus"
              class="products-item__icon--focus"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
