<div class="backdrop is-hidden" data-read-more-modal>
  <div class="modal-window">
    <button class="modal__button-close" data-read-more-modal-close>
      <svg class="icon" width="12" height="12">
        <use href="./images/icons.svg#close-cross"></use>
      </svg>
    </button>
    <p class="modal__title">How it’s made?</p>
    <iframe
      class="read-more-modal__video"
      width="224"
      height="199"
      src="https://www.youtube.com/embed/Gz9x3mPsffA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal__text read-more-modal__text">
      Ice Cream Rolls | how to make Ice Cream with fresh Strawberries Fried Thai
      rolled ice cream roll. Strawberry Ice Cream Rolls | how to make Ice Cream
      with fresh Strawberries Fried Thai rolled ice cream roll
    </p>
  </div>
</div>
