// About section styles
.about {
  background-color: $background-color;
  padding-top: 60px;
}

.about__wrap {
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  @include desktop {
    gap: 100px;
    align-items: center;
  }
}

.about__wrap-title,
.about__wrap-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__wrap-title {
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 72px;
  }
}
.about__wrap-text {
  @include tablet {
    align-items: flex-start;
  }
  @include desktop {
    flex-grow: 1;
  }
}

.about__title-label {
  font-family: $font-main;
  color: $main-text-color;
  @include font(700, 5.63vw, 1.22, 0);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;

  @include mobile {
    font-size: 27px;
  }

  @include tablet {
    @include font(800, 22px, 1.23, 0.04em);
    max-width: 276px;
  }
  @include desktop {
    font-size: 30px;
    max-width: 376px;
  }
}

.about__title {
  text-transform: uppercase;
  width: 200px;

  @include tablet {
    font-size: 34px;
    letter-spacing: 0.06em;
    min-width: 456px;
  }
  @include desktop {
    font-size: 36px;
    min-width: 483px;
  }
}

.about__img-wrap {
  position: relative;
  width: 86.88vw;
  height: 86.88vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 43.75vw;

  @include mobile {
    width: 418px;
    height: 418px;
    border-radius: 206px;
  }

  @include tablet {
    width: 335px;
    height: 331px;
    border-radius: 166px;
    margin-bottom: 0;
  }
  @include desktop {
    width: 490px;
    height: 490px;
    border-radius: 250px;
  }
}

.about__img {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  @include tablet {
    top: 26px;
  }
  @include desktop {
    top: 39px;
  }
}

.about__text1 {
  font-family: $font-main;
  color: $main-text-color;
  @include font(400, 3.75vw, 1.76, 0.04em);
  text-align: center;
  margin-bottom: 4px;

  @include mobile {
    font-size: 18px;
  }

  @include tablet {
    @include font(400, 12px, 1.76, 0.04em);
    margin-bottom: 8px;
    text-align: start;
    width: 336px;
  }
  @include desktop {
    font-size: 16px;
    width: 463px;
  }
}

.about__text2 {
  font-family: $font-main;
  color: $main-text-color;
  @include font(400, 3.75vw, 1.62, 0);
  text-align: center;
  margin-bottom: 20px;

  @include mobile {
    font-size: 18px;
  }

  @include tablet {
    @include font(400, 12px, 1.76, 0.04em);
    text-align: start;
    width: 336px;
    margin-bottom: 8px;
  }
  @include desktop {
    @include font(400, 14px, 1.94, 0.04em);
    width: 463px;
  }
}

.about__text3 {
  display: none;
  @include tablet {
    display: block;
    font-family: $font-main;
    @include font(400, 12px, 1.94, 0.04em);
    color: $main-text-color;
    text-align: start;
    margin-bottom: 48px;
  }
  @include desktop {
    width: 463px;
    font-size: 14px;
  }
}

.about__button {
  border: transparent;
  background-color: $accent-color;
  width: 164px;
  height: 42px;
  font-weight: 700;
  &:hover {
    background-color: $hover-color;
  }
  &:focus {
    background-color: $hover-color;
    outline: $hover-color;
  }
  &:disabled {
    background-color: $disabled-color;
  }
}

.about__svg {
  margin-left: 5px;
}
