.advantages {
  padding-top: 43px;
  padding-bottom: 32px;

    @include tablet {
    padding-top: 53px;
    padding-bottom: 204px;
  }
  @include desktop {
    padding-top: 153px;
    padding-bottom: 180px;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    gap: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    flex-direction: row;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
    @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    margin-bottom: 0;
  }

}
.advantages__cow::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  border-radius: 50%;
  background-image: url(../images/advantages/cow-1x.png);
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/cow-2x.png);
  }
  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}
.advantages__value {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-text-color;

  @include tablet {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.22;
    text-transform: lowercase;
  }

  @include desktop {
    margin-bottom: 16px;
    font-size: 58px;
  }
}
.advantages__text {
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: $main-text-color;

  @include tablet {
    width: 152px;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
  }

  @include desktop {
    width: 368px;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}

.advantages__weight::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  border-radius: 50%;
  background-image: url(../images/advantages/weight-1x.png);
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/weight-2x.png);
  }
  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.advantages__icecream::before {
  content: ' ';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  border-radius: 50%;
  background-image: url(../images/advantages/ice-crema-1x.png);
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: center;
  margin-bottom: 16px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/ice-crema-2x.png);
  }
  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}
