.contacts {
  margin-top: -345px;

  @include tablet {
    margin-top: -304px;
  }
  
  @include desktop {
    margin-top: -96px;
  }
}

.branch__address {
  display: inline-block;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 32px;
  }
} 

.branches__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include tablet  {
    gap: 16px;
  }

  @include desktop  {
    gap: 32px;
  }
}

.branch__item {
  width: 280px;
  padding: 40px 32px;
  margin: auto;
  background-color: $main-text-color;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

  @include tablet  {
    width: calc((100% - 32px)/3);
    padding: 40px 24px;
  }
  
  @include desktop {
    width: calc((100% - 2*32px) /3);
    padding: 40px 40px;
  }
}

.branch__category {
  background-color: $accent-color; 
  color: $accent-text-color;
      
  width: max-content;
  // height: 16px;

  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
  
  @include font (500, 12px, 1.86, 0.04em);
  font-style: normal;
  text-transform: uppercase;

  @include tablet  {
    font-size: 16px;
    // height: 28px;
  }
}

.branch__category--cafe {
  width: 80px;
  
  @include tablet  {
    width: 73px;
  }
}

.branch__category--foodtruck {
  width: 130px;

  @include tablet  {
    width: 138px;
  }
}


.branch__city  {
  color: $accent-text-color;
  @include font (500, 3.75vw, 1.86, 0.04em);
  font-style: normal;

  margin-bottom: 8px;

  @include mobile {
    font-size: 18px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.branch__link {
  @include font (500, 3.75vw, 1.83, 0.04em);
  text-align: left;
  font-style: normal;
  color: $card-brown-color;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @include mobile {
    font-size: 18px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.branch__schedule {
  display: inline-block;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;

  @include tablet {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -24px;
    height: 1px;
    width: 100%;
    background-color: #E1E1E1;

    @include tablet {
      bottom: -32px;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -24px;
    height: 1px;
    width: 100%;
    background-color: #E1E1E1;

    @include tablet {
      top: -32px;
    }
  }
}

.schedule__item {
  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}


.schedule__day {
  color: $accent-text-color;
  @include font (500, 3.75vw, 1.83, 0.04em);

  @include mobile {
    font-size: 18px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.schedule__time {
  @include font (500, 3.75vw, 1.86, null);
  color: $disabled-color;

  @include mobile {
    font-size: 18px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.branch__contacts {
  display: inline-block;
  margin-top: 24px;

  @include tablet {
    margin-top: 32px;
  }
}

.contacts__link {
  @include font (500, 3.75vw, 1.5, null);
  color: $accent-text-color;
  text-decoration: none;

  @include mobile {
    font-size: 18px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.contacts__form {
  margin: 32px 0 auto;
  gap: 16px;

  @include tablet {
    display: flex;
    justify-content: center;
    margin: 60px 0 auto;
  }

  @include desktop {
    margin: 64px 0 auto;
  }
}

.contacts__button {
  display: block;
  width: 196px;
  height: 42px;
  
  justify-self: center;
  align-items: center;
  justify-content: center;
  outline: transparent;
  
  gap: 6px;

  @media screen and (max-width: 767px)  {
    margin: auto;
  }

  @include tablet  {
    display: flex;
  }
}

.button__locations {
  background-color: $accent-color;
  fill: currentColor;

  transition-property: background-color, outline, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  margin-bottom: 16px;
  
  &:hover {
    background-color: $hover-color;
  }
    
  &:focus {
    background-color: $hover-color;
    border: 2px solid $hover-color;
    color: $main-text-color;
  }

  &:disabled {
    background-color: $disabled-color;
    border: 2px solid $disabled-color;
  }

  @include tablet {
    margin-bottom: 0;
  }
}

.button__franchise {
  background-color: $background-color;
  border: 2px solid $accent-color;
  color: $accent-text-color;
  fill: currentColor;

  align-items: center; 
  justify-content: center;
  gap: 6px;

  transition-property: background-color, border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $background-color;
    border: 2px solid $hover-color;
  }

  &:focus {
    background-color: $background-color;
    border: 2px solid $hover-color;
    color: $main-text-color;
  }

  &:disabled {
    background-color: $background-color;
    border: 2px solid $disabled-color;
  }
}