.header {
  position: relative;
  // position: fixed;
  // top: 0;
  // left: 0;
  // background-color: $background-color;
  // z-index: 100;
}

.header-container {
  display: flex;
  padding-top: 10px;
}

.header-logo {
  // margin-top: 12px;
  // margin-left: 22.35px;

  @include tablet {
    // margin-top: 20px;
    // margin-left: 32px;
  }
  @include desktop {
    margin-right: 269px;
  }
}

.navigation {
  display: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: inline-flex;
    align-items: center;
    gap: 25px;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}

.navigation__link {
  color: $main-text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.navigation__link:hover,
.navigation__link:focus {
  color: $accent-color;
}

.menu-logo {
  display: flex;
}
.menu-btn {
  display: none;

  @include tablet {
    display: flex;
    margin-left: auto;
    margin-top: 24px;
    // margin-right: 32px;
    margin-left: 0;
  }

  @include desktop {
    display: flex;
    margin-left: auto;
    // margin-right: 16px;
    margin-top: 28px;
  }
}

.navigation__button {
  display: none;

  @include tablet {
    display: flex;
    // align-items: center;
    justify-content: center;
    // margin-top: 24px;
    font-size: 14px;
    font-weight: 600;
    width: 152px;
    height: 42px;
    // padding: 12px 34px 12px 34px;
    background-color: $accent-color;
    // color: $accent-text-color;
    // fill: $accent-text-color;

    // fill: currentColor;

    border-radius: 10px;
    border: none;

    border: 2px solid $accent-color;

    margin-left: auto;
    margin-right: auto;

    cursor: url(../images/cursor.png), url(../images/cursor-1.cur), default;
    

    //     padding-left: 6px;
    //     cursor: pointer;
    //     margin-left: auto;
    //     margin-right: auto;
    //     margin-top: 20px;
    //   }


    // &:hover {
    //   border: 2px solid $hover-color;
    //   // border-color: $hover-color;
    // }

    // &:focus {
    //   background-color: $hover-color;
    //   color: $main-text-color;
    // }
  }



  @include desktop {
    display: flex;
    // align-items: center;
    justify-content: center;
    // margin-top: 24px;
    font-size: 14px;
    font-weight: 600;
    width: 152px;
    height: 42px;
    // padding: 12px 34px 12px 34px;
    background-color: $accent-color;
    // color: $accent-text-color;
    // fill: $accent-text-color;

    // fill: currentColor;

    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: url(../images/cursor.png), url(../images/cursor-1.cur), default;
  }
}

.navigation__button {
  &:hover {
    background-color: $hover-color;
  }
  &:focus {
    background-color: $hover-color;
    color: $main-text-color;
  }
} 

.nav-btn-icon {
  margin-left: 7.23px;
  fill: currentColor;
}

.menu-open-btn {
  margin-left: auto;
  margin-top: 26px;
  // margin-right: 26px;
  background-color: transparent;
  border: none;
  cursor: url(../images/cursor.png), url(../images/cursor-1.cur), default;

  @include tablet {
    margin-right: 32px;
    margin-left: auto;
    cursor: url(../images/cursor.png), url(../images/cursor-1.cur), default;
    // margin-top: 39px;
  }

  @include desktop {
    display: none;
  }
}

.content-menu {
  padding-top: 10px;
  position: absolute;
  top: 0;
  z-index: 5;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $background-color;
  text-align: center;
  align-items: center;
  font-weight: 700;
  color: $main-text-color;
  transform: translateX(0);
  transition: transform 400ms linear;

  @include tablet {
    position: absolute;
    background-color: $background-color;
    top: 0%;
    right: 0;
    width: 100%;
    height: 100vh;
    font-weight: 700;
    color: $main-text-color;
    transform: translateX(0%);
    transition: transform 400ms linear;
  }

  @include desktop {
    display: none;
  }
}

.menu-close-btn {
  display: flex;
  margin-left: auto;
  margin-top: 33px;
  margin-right: 4px;
  background-color: transparent;
  border: none;
  cursor: url(../images/cursor.png), url(../images/cursor-1.cur), default;

  @include tablet {
    display: flex;
    margin-left: auto;
    margin-top: 32px;
    margin-right: 32px;
    background-color: transparent;
    border: none;
    cursor: url(../images/cursor.png), url(../images/cursor-1.cur), default;
  }
}

.content-menu__navigation {
  margin-top: 100px;
}

.content-menu__link {
  font-family: $font-main;
  margin-top: 32px;
  font-size: 32px;
  font-weight: 700;
  color: $main-text-color;

  @include tablet {
    margin-top: 40px;
    font-size: 48px;
  }
}

.content-menu__link:hover,
.content-menu__link:focus {
  color: $accent-text-color;
}

.mob-menu-btn {
  display: flex;
  justify-content: center;
  margin-top: 111px;
  padding-bottom: 63px;
}

.mob-menu-btn__button {
  display: flex;
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
  width: 152px;
  height: 42px;
  // padding: 12px 34px 12px 34px;
  background-color: $accent-color;
  color: $accent-text-color;
  fill: $accent-text-color;
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  justify-content: center;

  @include tablet {
    display: none;
  }
}

.mob-menu-btn__button:hover {
  background-color: $hover-color;
  color: $accent-text-color;
  fill: $accent-text-color;
}

.mob-menu-btn__button:focus {
  background-color: $hover-color;
  color: $main-text-color;
  fill: $main-text-color;
}

.mob-menu-btn__button:disabled {
  background-color: $main-text-color;
  color: $accent-text-color;
  fill: $accent-text-color;
}

.content-menu.is-hidden {
  transform: translateX(100%);
  transition: transform 400ms linear;
}
