.ingredients {
  display: flex;
  flex-direction: column;
  //   width: 100%;
  min-height: 990px;
  margin: 0 auto;
  justify-content: space-between;
  top: 10%;
  @include tablet {
    top: 70%;
  }
}
.ingredients__close {
  position: absolute;
  top: 28px;
  right: 20px;
}
.ingredients__img {
  position: relative;
  display: block;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  &::before {
    position: absolute;
    content: '';
    width: 131px;
    height: 131px;
    background: $card-green-background;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
    bottom: -7px;
    left: 0;
  }
}
.ingredients-nutrients__list {
  display: flex;
  width: 100%;
  margin-bottom: 39px;
  justify-content: space-between;
  margin: 0 auto;
}
.ingredients-nutrients__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 53px;
  height: 72px;
  align-items: center;
  text-align: center;
  border: 2px solid $card-green-color;
  border-radius: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 40px;
  &::after {
    position: absolute;
    content: '';
    width: 43px;
    height: 43px;
    background: $card-green-color;
    border: 2px solid $card-green-color;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
    top: -2px;
    left: 3px;
  }
}
.ingredients-nutrients__numeric {
  z-index: 3;
  font-family: $font-main;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: $accent-text-color;
}
.ingredients-nutrients__text {
  font-family: $font-main;
  font-size: 10px;
  line-height: 2.8;
  display: flex;
  color: $accent-text-color;
}
.ingredients__title {
  font-family: $font-main;
  font-weight: 500;
  font-size: 6.25vw;
  line-height: 1.4;
  color: $accent-text-color;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.ingredients__list {
  margin-bottom: 48px;
}
.ingredients__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  &:last-child {
    margin-bottom: 0;
  }
}
.ingredients__product,
.ingredients__weight {
  line-height: 176%;
  align-items: center;
  text-align: center;
}
.ingredients-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.ingredients-form__name,
.ingredients-form__tel {
  height: 42px;
  margin-bottom: 16px;
}
.ingredients-form__comment {
  height: 84px;
  margin-bottom: 32px;
  resize: none;
}
.ingredients-form__btn {
  width: 132px;
  height: 42px;
  padding: 12px 34px;
  margin: 0 auto;
  border: transparent;
  background-color: $accent-color;
  &:hover {
    background-color: $hover-color;
  }
  &:focus {
    background-color: $hover-color;
    outline: $hover-color;
  }
  &:disabled {
    background-color: $disabled-color;
  }
}
@media screen and (min-width: 380px) {
  .ingredients-nutrients__list {
    width: 300px;
  }
  .ingredients-form {
    width: 300px;
  }
}
@media screen and (min-width: 480px) {
  // .ingredients {
  //     width: 480px;
  // }
  .ingredients__main-title,
  .ingredients__title {
    font-size: 20px;
  }
  .ingredients-nutrients__numeric,
  .ingredients-nutrients__text {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  .ingredients {
    width: 568px;
    min-height: 995px;
    padding: 32px 40px;
    margin-left: auto;
    margin-right: auto;
    &__main-title {
      width: 100%;
      justify-content: space-around;
      margin-bottom: 24px;
    }
  }
  .ingredients-close {
    top: 20px;
  }
  .ingredients-nutrients__list {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .ingredients-nutrients__item {
    width: 65px;
    height: 90px;
    padding-top: 10px;
    &::after {
      width: 53px;
      height: 53px;
      left: 4px;
    }
  }
  .ingredients-nutrients__numeric {
    font-size: 12px;
    line-height: 2.3;
  }
  .ingredients-nutrients__text {
    font-size: 12px;
    line-height: 1.25;
  }
  .ingredients-form {
    margin: 0 auto;
    width: 368px;
  }
}
