.products {
    max-width: 100%;
    height: 100%;
    padding: 60px 0;
    margin: 0 auto;
    background-image: url(../images/products/background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        & {
            background-image: url(../images/products/background-mobile-2x.jpg);
            background-size: cover;
        }
    }
}

.products__text {
    font-family: $font-main;
    font-weight: 800;
    font-size: 5.625vw;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: $accent-text-color;
    margin-bottom: 12px;
}

.products__title {
    font-family: $font-title;
    text-align: center;
    text-transform: uppercase;
    color: $accent-text-color;
    margin-bottom: 148px;
    font-size: 9.375vw;
}

.products-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    min-height: 420px;
    padding: 123px 40px 12px;
    background-color: #AEC6A5;
    border-radius: 24px;
    margin: 0 auto 164px;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        min-width: 200px;
        min-height: 200px;
        border-radius: 50%;
        background-image: url(../images/products/ice-cream.png);
        background-position: center;
        background-size: cover;
        top: -108px;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url(../images/products/ice-cream-2x.png);
                background-size: cover;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: -97px;
        background: $card-green-background;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }

    &:nth-child(2n) {
        background-color: $card-yellow-color;

        &::after {
            background-image: url(../images/products/ice-coffe.png);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/products/ice-coffe-2x.png);
                    background-size: cover;
                }
            }
        }

        &::before {
            background: $card-yellow-background;
            box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        }
    }

    &:last-child {
        margin-bottom: 0;
        background-color: $card-brown-color;

        &::after {
            background-image: url(../images/products/milkhakes.png);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/products/milkhakes-2x.png);
                    background-size: cover;
                }
            }
        }

        &::before {
            background: $card-brown-background;
            box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        }
    }
}

.products-item__title {
    font-family: $font-main;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: $accent-text-color;
    margin-bottom: 40px;
    font-size: 6.25vw;
}

.products-item__text {
    font-family: $font-main;
    font-size: 4.375vw;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $accent-text-color;
}

.products-item__btn {
    position: relative;
    width: 60px;
    height: 22px;
    border: transparent;
    background-color: inherit;
    margin-top: auto;
    padding: 0;

    &:hover {
        .products-item__icon--default {
            opacity: 0;
        }

        .products-item__icon--hover {
            opacity: 1;
        }
    }

    &:focus {

        .products-item__icon--default,
        .products-item__icon--hover {
            opacity: 0;
        }

        .products-item__icon--focus {
            opacity: 1;
        }
    }
}

.products-item__icon--hover,
.products-item__icon--focus {
    opacity: 0;
}

.products-item__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 479px) {
    .products__text {
        font-size: 18px;
    }

    .products__title {
        font-size: 30px;
    }

    .products-item__title {
        font-size: 20px;
    }

    .products-item__text {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .products {
        max-width: 768px;
        background-image: url(../images/products/background-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url(../images/products/background-mobile-2x.jpg);
            }
        }
    }

    .products__text {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .products__title {
        font-size: 34px;
        margin-bottom: 200px;
    }

    .products__list {
        display: flex;
        gap: 16px;
    }

    .products-item {
        min-width: 0;
        width: 224px;
        min-height: 428px;
        padding: 108px 26px 12px;
        margin-bottom: 0;

        &::after {
            top: -120px;
        }

        &::before {
            top: -109px;
        }
    }
}

@media screen and (min-width: 769px) {
    .products {
        max-width: 100%;
        background-image: url(../images/products/background-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url(../images/products/background-desktop-2x.jpg);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .products {
        max-width: 1200px;
        background-image: url(../images/products/background-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url(../images/products/background-desktop-2x.jpg);
            }
        }
    }

    .products__list {
        gap: 32px;
    }

    .products__text {
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 12px;
    }

    .products__title {
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 303px;
    }

    .products-item {
        width: 370px;
        min-height: 535px;
        padding: 166px 64px 52px;
        margin: 0;

        &::after {
            width: 300px;
            height: 300px;
            top: -183px;
        }

        &::before {
            width: 300px;
            height: 300px;
            top: -166px;
        }
    }

    .products-item__title {
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 65px;
    }

    .products-item__text {
        font-size: 16px;
    }
}

@media screen and (min-width: 1201px) {
    .products {
        max-width: 100%;
        background-image: url(../images/products/background-desktop-1600.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url(../images/products/background-desktop-1600-2x.jpg);
            }
        }
    }
}

@media screen and (min-width: 1201px) {
    .products {
        max-width: 1600px;
    }
}