.button {
    text-align: center;
    align-items: center;
    border: $accent-color;
    border-radius: 10px;
    color: $accent-text-color;
    border: 2px solid $accent-color;
    font-family: $font-main;
    @include font(600, 14px, 1.29, null);
    text-decoration: none;
    cursor: url(../images/cursor.png), url(../images/cursor-1.cur), default;
    &:hover {
      border-color: $hover-color;
    }
    &:focus {
      border-color: $hover-color;
      color: $main-text-color;
    }
    &:disabled {
      border-color: $disabled-color;
    }
  }


